.container {
    margin-top: 50px;
}

.video-container {
    margin-top: 25px;
}

body {
    background: url(http://s0.uvnimg.com/files/2013/04/11638/uvideos_background_lo_res.jpg);
    color: #fff;
}